*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
/*-----------navigation bar--------------  */
.header{
    min-height: 100vh;
    width: 100%;
    /* background-image:linear-gradient(rgba(0,0,0,0),rgba(4,9,30,0.7)),url(images/com.png); */
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
   
}
nav img{
    width: 100px;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
    filter: invert(1);
    border-radius: 10px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
 list-style: none;
 display: inline-block;
 padding: 8px 12px;
 position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    /*background-color: #f44336;*/
	background-color: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    transition: 0.5s;
}

.text-box h2{
    margin: 15px 0px 25px;
    font-size: 30px;
    transition: 0.4s;
    
}
/* .text-box span{ */
    /* filter: drop-shadow(0 0 20px rgb(20, 171, 184)) drop-shadow(0 0 20px rgb(20, 171, 184)); */
    /* filter: drop-shadow(0 0 5px #fff); */
/* } */

.type{
    color: red;
  }

  .type2{
    color: #ddfa00;
  }
 


/* to slid up the para */
.text-box p{
    margin: 10px 0 40px;
    font-size: 17px;
    color:#fff;
    animation: slide-up 3s;
}

@keyframes slide-up{
    from{
        opacity: 0.2;
        line-height: 200px;
    }
    to{
        opacity: 1;
        line-height: 25px;
    }
}
/* new code */
.text-box h1:hover{
-webkit-text-stroke: 2px aqua;
color: blue;
}


.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 3px dashed #ddfa00;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-weight: bold;
}

.hero-btn:hover{
    border: 3px solid #fff;
	background: blue;
    /*background: #f44336;*/
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width : 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
        text-align: center;
    }
    .nav-links{
        position: fixed;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* -----------------red btn------------------ */
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover{
    color: #fff;
}


/*-------top image & text code------*/
.sub-header{ 
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(4,9,30,0.7)),url(images/back2.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    }
.sub-header h1{ 
    margin-top: 10px;    
}

/*----course----*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px ;
}
.row p{
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
color: rgb(0, 0, 0);
font-size: 14px;
font-weight: 600;
line-height: 22px;
padding: 5px;
margin:5px ;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    font-size: 30px;
    flex-basis: 31%;
    background: #dcf1f2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s; 
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;   
}
.course-col:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}


/*-------campus-----*/
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
   
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    

}

.campus-col img{
    width: 100%; 
    height: 100%;
    /* object-fit: cover; */
    display: block;
    justify-content: center;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
}

/*.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
   opacity: 0;
   transition: 0.5s;
}*/

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*-----facili--*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10p;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;   
}

/*----test---*/
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;

}
.testimonials-col{
flex-basis: 40%;
border-radius: 10px;
margin-bottom: 5%;
text-align: left;
background: #fff3f3;
padding: 25px;
cursor: pointer;
display: flex;
}
.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%; 
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;

}
.testimonials-col p{
    padding: 0;   
}
.testimonials-col .fa{
    color: #f44336;
}
@media(max-width:700px){
    .testimonials-col img{
        margin-left:0px;
        margin-right: 15px;
      
    }
}

/*--- call to action for homepage -----*/
.cta{
    margin: 40px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 10px;
    padding: 0;
}
@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}

/*--- call to action for course-----*/
.cta2{
    margin: 40px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/contact\ us\ background.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
}
.cta2 h1{
    color: #fff;
    margin-bottom: 10px;
    padding: 0;
}
@media(max-width:700px){
    .cta2 h1{
        font-size: 24px;
    }
}

/*---footer---*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.icons .fa{
    color:navy;
    margin: 0 13px;
    cursor: pointer; 
    padding: 18px 0;
    text-decoration-line: none;

}
.fa-heart-o{
    color: #f44336;
}


/*---------Contact us page----------------------*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

.location h1{
    text-align: center;
}

/* .loc{ 
    border-width: 10px ;
    border: #222;
    border-style: double;
    margin: 10px;
    padding: 1px;
}*/
/* .loc-row{ 
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}*/
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.comment-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}





/*---------new changes----------------------*/
marquee{
background-color: #222;
margin-bottom: 10px;
padding: 5px;
}

/*---------About Page Content comment box----------------------*/

.comment-box{
    /* border: 1px solid #ccc ; */
    border: 1px solid #ccc ;
    border-radius: 20px;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background:#f0f0f0 ;
}
.comment-form button{
    margin: 10px 0;
}  
@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
}



/*---------Blog button----------------------*/

.blog-content{
    width: 100%;
    min-height: 100vh;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 50px;
    box-sizing: border-box;
    text-align: center;
    /* position: relative; */
    /* display:block; */
}

.blog-row{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.teacher-col{
    flex-basis: 28%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    cursor: pointer;
    min-width: 230px;
    margin-bottom: 20px;
    z-index: 1;
    /*  z-index: 2;*/
}
.profile{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #1e2648;
    padding: 12px;
}
.profile img{
    width: 100%;
    
}
.profile h2{
    margin: 25px 0 10px;
    font-weight: 600;
    color: aqua;
}
.profile h3{
    margin: 25px 0 10px;
    font-weight: 600;
    color: #fff;
}
.profile p{
    margin-bottom: 10px;
    color: chartreuse;
}
/* .profile button,a{ 
    margin: 25px 0 10px;
    font-weight: 600;
} */
.teacher-col::before , .teacher-col::after{
    content: '';
    height: 0px;
    width: 0px;
    background: linear-gradient(135deg, #ff001d, #ddfa00);
    position: absolute;
    z-index: -1;
   animation: none;
}
.teacher-col::before{
    left: 0;
    top: -8px;
}
.teacher-col::after{
    right: 0;
    bottom: -8px;
}

@keyframes stroke{
    0%{
        height: 8px;
        width: 0px;
    }
    50%{
        height:8px;
        width:calc(100% + 8px);
    }
    100%{
        height:calc(100% + 16px);
        width: calc(100% + 8px);
    }
}
.teacher-col:hover::before, .teacher-col:hover::after{
    animation: stroke 1s linear;
    animation-fill-mode: forwards;   
}

 /* popup css  */

.blog-content .popup-image{
    display: none;
    position: fixed;
    top: 0;
    left: 0; 
    background: rgb(0, 0, 0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
}
.blog-content .popup-image span{  
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    /* font-weight: ; */
    color: #ff001d;
    cursor: pointer;
    z-index: 100;
 } 
 .blog-content .popup-image img{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px double #fff;
    width: 600px;
    object-fit:cover;
}

@media (max-width:768px)
{
    .blog-content .popup-image img{
        width: 95%;
    }
} 

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

/* .back-video2{ 
    position: absolute;
    right: 0;
    bottom: 0;
    
    height: 10%;
}

@media (min-aspect-ratio: 16/9){
    .back-video2{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video2{
        width: auto;
        height: 100%;
    }
 } */

/* sticky 
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    padding: 2%;
    background:#000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  
  #stickymenu{
    padding: 1% 4%;
    margin: 1%;
  }
  .logostick{
    width: 60px;
    float: left;
    padding-left: 125%;
    padding-top: 2%;
    filter: invert(1);
    border-radius: 10px;
 } */


 
